:root {
  --primary-accent-dark-color: #1c5edd;
  --primary-accent-light-shade-dark-color: #497ee4;
  --primary-dark-text-color: #7e91ad;
  --secondary-dark-text-color: #000000;
  --primary-light-bg-color: #f2f6ff;
  --primary-bg-image: linear-gradient(
    225deg,
    rgba(177, 204, 255, 0.05) 5%,
    rgba(177, 204, 255, 1) 100%
  );
  --primary-shadow: 1px -1px 20px rgba(28, 94, 221, 0.1),
    -15px 15px 40px rgba(28, 94, 221, 0.1);
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --card-set-card-margin-desktop: 15px;
  --card-set-card-margin-phone: 8px;
}

/*Adds the required number of cards per line;
works inside 'card-set-container': 
display: flex;
  flex-wrap: wrap;
  @include card-set-margin($card-margin);
*/
/*
Sets negative margin for a card-set-container
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.card-set-container {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--card-set-card-margin-phone));
}

@media (min-width: 1440px) {
  .card-set-container {
    margin: calc(-1 * var(--card-set-card-margin-desktop));
  }
}

/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v3-latin-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin-600.woff2") format("woff2"), url("../fonts/inter-v3-latin-600.woff") format("woff"), url("../fonts/inter-v3-latin-600.ttf") format("truetype"), url("../fonts/inter-v3-latin-600.svg#Inter") format("svg");
  /* Legacy iOS */
  font-display: swap;
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v3-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v3-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v3-latin-700.woff2") format("woff2"), url("../fonts/inter-v3-latin-700.woff") format("woff"), url("../fonts/inter-v3-latin-700.ttf") format("truetype"), url("../fonts/inter-v3-latin-700.svg#Inter") format("svg");
  /* Legacy iOS */
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  font-family: 'Inter', sans-serif, apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  font-style: normal;
  font-size: 15px;
  font-weight: var(--font-weight-medium);
  color: var(--primary-dark-text-color);
  background-image: var(--primary-bg-image);
  background-color: var(--primary-bg-color);
}

ul[class],
ol[class] {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
figure,
figcaption,
blockquote,
dl,
dd {
  margin-top: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  color: inherit;
  outline: none;
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: inherit;
}

.title {
  font-weight: var(--font-weight-bold);
  color: var(--primary-accent-dark-color);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 288px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 600px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1240px;
  }
}

.button {
  cursor: pointer;
  outline: none;
  border: none;
}

.basic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-light-text-color);
  background-color: var(--primary-accent-color);
}

.basic-button:focus, .basic-button:hover {
  background-color: var(--secondary-accent-color);
}

.header {
  margin-bottom: 10px;
}

@media (min-width: 1440px) {
  .header {
    margin-bottom: 14px;
  }
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

@media (min-width: 1440px) {
  .logo-link {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.logo-img {
  width: 19px;
  height: 23px;
  margin-right: 5px;
}

@media (min-width: 1440px) {
  .logo-img {
    margin-right: 12px;
  }
}

.logo-link .logo-text {
  display: none;
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  color: var(--primary-accent-light-shade-dark-color);
}

@media (min-width: 1440px) {
  .logo-link .logo-text {
    display: block;
  }
}

.menu-main-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.menu-main-item:not(:last-child) {
  margin-right: 30px;
}

@media (min-width: 1440px) {
  .menu-main-item:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-main-link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  line-height: 1.467;
}

@media (min-width: 1440px) {
  .menu-main-link {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 17px;
    line-height: 1.294;
  }
}

.blog {
  padding-bottom: 50px;
}

.blog-title-main {
  margin-bottom: 16px;
  font-size: 26px;
  line-height: 1.25;
  letter-spacing: 0.5px;
}

@media (min-width: 1440px) {
  .blog-title-main {
    margin-bottom: 20px;
    font-size: 40px;
  }
}

.posts-preview-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 312px;
  padding: 16px;
  background: var(--primary-light-bg-color);
  box-shadow: var(--primary-shadow);
  border-radius: 20px;
  flex-basis: calc( (100% - 2 * 1 * 8px) / 1);
  margin: 8px;
}

@media (min-width: 768px) {
  .posts-preview-item {
    flex-basis: calc( (100% - 2 * 2 * 15px) / 2);
    margin: 15px;
  }
}

@media (min-width: 1440px) {
  .posts-preview-item {
    min-height: 368px;
    padding: 20px;
    flex-basis: calc( (100% - 2 * 3 * 15px) / 3);
    margin: 15px;
  }
}

.posts-item-link {
  display: block;
}

.posts-preview-img-wrap {
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.posts-preview-title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.4;
}

@media (min-width: 1440px) {
  .posts-preview-title {
    font-size: 20px;
  }
}

.post-preview-description {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.posts-preview-author-profile-link {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

@media (min-width: 1440px) {
  .posts-preview-author-profile-link {
    margin-bottom: 0;
  }
}

.posts-preview-author-avatar {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
}

@media (min-width: 1440px) {
  .posts-preview-author-avatar {
    width: 30px;
    height: 30px;
  }
}

.posts-preview-author-name {
  line-height: 1.467;
  color: var(--secondary-dark-text-color);
}

.posts-main-info {
  margin-bottom: 0;
  font-size: 13px;
  line-height: 1.692;
}

@media (min-width: 1440px) {
  .posts-main-info {
    font-size: inherit;
    line-height: inherit;
  }
}
/*# sourceMappingURL=main.css.map */